<!DOCTYPE html>
<html>
<head>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"></link>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Edit Traker</title>
</head>
<body>
	<form action="#" th:action="@{/edit/{id}(id=${traker.id})}"
		th:object="${traker}" method="post">
		<label for="nameid">Titel:</label> 
		<input type="text"class="form-control" th:field="*{title}" id="titleid"placeholder="title"> 
		<label for="descriptionid">Beschreibung:</label>
		<input type="text" class="form-control" th:field="*{description}"id="descriptionid" placeholder="description"> 
		<label for="linkid">Link to Jiratask:</label>
		<input type="text" class="form-control" placeholder="link to Jiratask " id="linkId">
		<a href="timetraker"> 
			<input type="submit" value="Edit Traker">
		</a>
	</form>
</body>
</html>